<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
  </head>
  <body>
    <% if !@message.nil? && @message != '' %>
      <%= @message %>
    <% end %>
    <p>Meetup Name: <%= @meetup.name %></p>
    <p>Description: <%= @meetup.description %></p>
    <p>Location: <%= @meetup.location %></p>
    <% if !@members.nil? %>
    <p>
      <ul>
        <% @members.each_with_index do |mem, i| %>
          <li><img src="<%= @members[i].avatar_url %>" height="42" width="42"><%= @members[i].username %></li>
        <% end %>
      </ul>
    </p>
    <% end %>
    <p>Creator: <%= @creator.username %></p>
    <form action="/meetups/<%= @meetup.id %>" method='get'>
    	<input type="hidden" name="join" id='join' value='1'>
    	<button type='submit' style="background-color:black">Join Meetup</button>
    </form>


  </body>
</html>